@media(max-width:750px){
    .row{
        .rightpostarea{
            width:100%;
        }
        .col-lg-3{
            
        }
        
    }
    

}
.container{
    .row{
        margin-top:50px;
        
        
        .categorybox{
            font-family: Antonio;
            span{
                color:#708FFF;
                font-size:20px;
                font-family: Antonio;
                font-style: normal;
                font-weight: bold;
            }
            box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
            border-radius: 8px;
            background:white;
            height:300px;
            margin:25px 0px;
            padding:20px;
            
        }
        
        .rightpostarea{
            box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
            border-radius: 8px;
            
            background:white;
            padding:2%;
            margin-bottom:60px;
            
            .movepage{    
                nav{
                    
                    .pagination{
                        display:flex;
                        justify-content:center;                        
                        .page-item{
                            box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
                            border-radius: 8px;
                            border:none;
                        }
                    }      
                }
            }
        }

    }

}

