@media(max-width:1020px){
    .row{
        .rightpostarea{
            width:100%;
        }
        .col-lg-3{
            display:none;
        }
    }
    

}
.container{
    .row{
        margin-top:50px;
        .loginprofilebox{
            box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
            border-radius: 8px;
            background:white;
            height:100px;
            padding:5%;
            
            .profilebox{
                display:flex;
                justify-content:center;             
                .name{
                    color:#708FFF;
                    font-size:20px;
                    font-family:Roboto;
                }
                a{

                }
            }
            .writebutton{
                margin:auto;
                margin-top:11px;
                height:30px;
                background:#708FFF;
                color:white;
                width:80px; 
                display:flex;
                justify-content:center;
                align-items:center;
                 
                font-family: Arial;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                border-radius: 4px;
                
            }
        }
        .categorybox{
            
            box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
            border-radius: 8px;
            background:white;
            height:300px;
            margin:25px 0px;
            padding:20px;
            
        }
        
        .rightpostarea{
            box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
            border-radius: 8px;
            
            background:white;
            padding:2%;
            margin-bottom:60px;
            
            .movepage{    
                nav{
                    
                    .pagination{
                        display:flex;
                        justify-content:center;                        
                        .page-item{
                            box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
                            border-radius: 8px;
                            border:none;
                        }
                    }      
                }
            }
        }

    }

}

